main{
    display: flex;
    //height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
// article{
//     display: block;
//     min-width: 30%;
// }

img{
    width: 100%;
}

// .image-container{
//     max-height: 500px;
//     display: block;
// }

.info{
    background-color: lightgrey;
    padding:15px;
    margin:15px;
    width: 500px;
    height: 500px;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}